.sidebar{
  position:fixed;
  left:0;
  bottom:0;
  top:60px;
  background-color:white;
  width:72px;
  padding-top:5px;
}
.sidebar-link{
  
  height:74px;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  cursor:pointer;
}
.sidebar-link:hover{
  opacity: 0.9;
  background-color:rgb(238, 233, 233);
}

.sidebar-link  img{
  height: 26px;
  margin-bottom:4px;
}
.sidebar div{
  font-family: Roboto,Arial;
  font-size:10px;

}
